{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "8",
          "browsers": ">1%, not ie 11"
        },
        "exclude": [
          "transform-regenerator"
        ]
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-syntax-bigint",
    "const-enum"
  ]
}
