.github
.idea
.git
Dockerfile
*.log
**/*.log
**/.nyc_output
**/coverage
**/test

# Dependencies
node_modules
**/node_modules

# Build artifacts
**/lib
**/dist

# Docs
supporting-docs
docs
audits
assets

# Data
**/*-db
.tmp
**/.tmp
