.__testdb
node_modules/
lib
.nyc_output/
coverage/**
.DS_Store
*.swp
.idea
beaconchain
lodestar-db
lodestar-config.toml
keys/
test-db
yarn-error.log
package-lock.json
LodestarValidatorDB/
*.log
data
validators
*.tsbuildinfo
**/coverage
**/node_modules
**/lib
**/.nyc_output
.tmp
.vscode

# Docs, only ignore typedoc generated
packages/**/docs
docs/packages
docs/contributing.md
docs/assets
/site

# Testnet artifacts
.lodestar
.witti
genesis.ssz
witti.json
