language: node_js
node_js:
  - "lts/*"

cache:
  yarn: true
  directories:
    - node_modules
    - packages/lodestar/node_modules
    - packages/benchmark-utils/node_modules
    - packages/eth2.0-config/node_modules
    - packages/eth2.0-params/node_modules
    - packages/eth2.0-spec-test-util/node_modules
    - packages/eth2.0-types/node_modules
    - packages/eth2.0-utils/node_modules
    - packages/lodestar/node_modules
    - packages/ssz/node_modules
    - packages/ssz-type-schema/node_modules

install:
    - lerna bootstrap

jobs:
  include:
    - stage: Lint and Check types
      name: Check types
      script: lerna run check-types && lerna run lint

    - stage: Tests
      name: Unit
      script: lerna run test:unit && lerna run coverage
    -
      name: e2e
      script: lerna run test:e2e
    -
      name: spec-minimal
      if: branch != master || type = pull_request
      script:
        - lerna run test:spec-min
    -
      name: spec-full
      if: branch = master AND type != pull_request
      script:
        - lerna run test:spec

before_deploy:
    - lerna run build:docs
    - node scripts/collect-docs.js

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GH_PAGES_TOKEN
  keep_history: true
  local_dir: docs
  on:
    branch: master
