version: "3.4"
services:
  beacon_node:
    build: .
    image: lodestar
    restart: always
    volumes:
      - beacon_node:/data
      - logs:/logs
    env_file: .env
    ports:
      - "9000:9000" # P2P port
      - "9596:9596" # REST API port
    command: beacon --rootDir /data --api.rest.host 0.0.0.0 --metrics.enabled --logFile /logs/beacon.log --logLevelFile debug

  prometheus:
    build: docker/prometheus
    restart: always
    volumes:
      - "prometheus:/prometheus"

  grafana:
    build: docker/grafana
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - "grafana:/var/lib/grafana"

volumes:
  beacon_node:
  logs:
  prometheus:
  grafana:
