version: "3.4"
services:
  validator:
    build: .
    image: lodestar
    restart: always
    volumes:
      - validator:/data
      - logs:/logs
      - ./keystores:/keystores
      - ./secrets:/secrets
    env_file: .env
    command: validator --rootDir /data --keystoresDir /keystores --secretsDir /secrets --server http://beacon_node:9596 --logFile /logs/validator.log --logLevelFile debug

volumes:
  validator:
  logs:
