@charset "utf-8";
@import "~bulma/bulma";

:root {
  --background-color: #121212;
  --background-color-card: #1e1d1d;
  --text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

main,
header > .container {
  width: 90%;
  max-width: 60rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 3rem;
  font-weight: bold;
  background-color: var(--background-color-card);
}

main {
  flex: auto; // Force to fill window vertically
  padding-top: 3rem;
}

main > section {
  margin-bottom: 6rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--background-color-card);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

._loading_overlay_overlay {
  position: fixed !important;
}

._loading_overlay_wrapper {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

h1 {
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.4rem;
  font-weight: bold;
}

// Util

.space-child > *:not(:last-child),
section > *:not(:last-child) {
  margin-bottom: 1rem;
}

.proof-container > *:not(:last-child) {
  margin-bottom: 2rem;
}
.proof-render {
  font-family: monospace;
}
.grid-2col-render {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.5rem 1rem;
  font-family: monospace;
}

// Progress bar

.progressbar {
  background-color: var(--background-color-card);
  border-radius: 13px;
}

.progressbar > div,
.strong-gradient {
  background: #fe8c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f83600, #fe8c00); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f83600,
    #fe8c00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.progressbar > div {
  width: 0%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}

// textarea

.textarea {
  background-color: var(--background-color-card);
  color: white;
  border-width: 0px;
  font-family: monospace, monospace;
}

// button

button {
  border-width: 0px;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 4px;
  justify-content: center;
  padding: 0.75em 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  display: inline-flex;
  vertical-align: top;
}
