@charset "utf-8";
@import "~bulma/bulma";

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

._loading_overlay_overlay {
  position: fixed !important;
}

._loading_overlay_wrapper {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}
