{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "globals": {
        "console": true,
        "CTX": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ],
        "one-var": [
            "error",
            "always"
        ],
        "eol-last": [
            "error",
            "always"
        ],
        "brace-style": [
            "error",
            "1tbs"
        ],
        "curly": [
            "error",
            "all"
        ],
        "no-undefined": "error",
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 2
            }
        ],
        "no-console":0
    }
}
