{
  "participants": [
    {
      "elType": "geth",
      "elImage": "${GETH_IMAGE}",
      "clType": "lodestar",
      "clImage": "${LODESTAR_IMAGE}",
    },
    {
      "elType": "nethermind",
      "elImage": "${NETHERMIND_IMAGE}",
      "clType": "lodestar",
      "clImage": "${LODESTAR_IMAGE}"
    }
  ],
  "network": {
    "networkId": "3151908",
    "depositContractAddress": "0x4242424242424242424242424242424242424242",
    "secondsPerSlot": 3,
    "slotsPerEpoch": 4,
    "altairForkEpoch": 1,
    "mergeForkEpoch": 2,
    "totalTerminalDifficulty": 1000000,
    "numValidatorKeysPerNode": 64,
    "preregisteredValidatorKeysMnemonic": "giant issue aisle success illegal bike spike question tent bar rely arctic volcano long crawl hungry vocal artwork sniff fantasy very lucky have athlete"
  },
  "waitForMining": true,
  "waitForFinalization": true,
  "logLevel": "info"
}