name: Sim tests

on:
  push:
    # We intentionally don't run push on feature branches. See PR for rational.
    branches: [unstable, stable]
  pull_request:
  workflow_dispatch:

env:
  GETH_IMAGE: https://gethstore.blob.core.windows.net/builds/geth-linux-amd64-1.10.25-69568c55.tar.gz

jobs:
  tests-sim:
    name: Sim tests
    runs-on: [self-hosted, ubuntu, ax161, lodestar]
    steps:
      # <common-build> - Uses YAML anchors in the future
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "lts/gallium"
      - name: Node.js version
        id: node
        run: echo "::set-output name=v8CppApiVersion::$(node --print "process.versions.modules")"
      - name: Restore dependencies
        uses: actions/cache@master
        id: cache-deps
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: ${{ runner.os }}-${{ steps.node.outputs.v8CppApiVersion }}-${{ hashFiles('**/yarn.lock', '**/package.json') }}
      - name: Install & build
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile --ignore-optional && yarn build
      - name: Build
        run: yarn build
        if: steps.cache-deps.outputs.cache-hit == 'true'
      # </common-build>

      - name: Pull Geth
        run: |
          TAR_NAME=$(basename $GETH_IMAGE)
          BINARY_FOLDER="${TAR_NAME%.*.*}"
          curl -sS $GETH_IMAGE > $TAR_NAME
          tar -xvzf $TAR_NAME
          echo "GETH_BINARY_DIR=$GITHUB_WORKSPACE/$BINARY_FOLDER" >> $GITHUB_ENV

      - name: Simulation tests for CLI
        run: yarn test:sim
        working-directory: packages/cli
        env:
          GETH_BINARY_DIR: ${{ env.GETH_BINARY_DIR }}

      - name: Upload debug log test files for "packages/cli"
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: debug-test-logs-cli
          path: packages/cli/test-logs
